:root {
    /* Brand Core Colors */
    --rebirth-brand-primary: 38, 63, 89;
    --rebirth-brand-secondary: 243, 206, 115;

    /* Primary Core Colors */
    --rebirth-primary-10: 3, 8, 14;
    --rebirth-primary-20: 9, 17, 27;
    --rebirth-primary-30: 15, 25, 36;
    --rebirth-primary-40: 23, 38, 53;
    --rebirth-primary-50: 38, 63, 89;
    --rebirth-primary-60: 69, 93, 117;
    --rebirth-primary-70: 132, 152, 173;
    --rebirth-primary-80: 163, 181, 201;
    --rebirth-primary-90: 194, 211, 229;

    /* Secondary Core Colors */
    --rebirth-secondary-10: 181, 139, 34;
    --rebirth-secondary-20: 196, 156, 54;
    --rebirth-secondary-30: 212, 172, 75;
    --rebirth-secondary-40: 227, 189, 95;
    --rebirth-secondary-50: 243, 206, 115;
    --rebirth-secondary-60: 245, 216, 143;
    --rebirth-secondary-70: 248, 226, 171;
    --rebirth-secondary-80: 250, 235, 199;
    --rebirth-secondary-90: 253, 245, 227;

    /* Neutral Core Colors */
    --rebirth-grey-0: 0, 0, 0;
    --rebirth-grey-10: 34, 41, 58;
    --rebirth-grey-20: 53, 60, 80;
    --rebirth-grey-30: 81, 88, 108;
    --rebirth-grey-40: 109, 116, 136;
    --rebirth-grey-50: 137, 143, 160;
    --rebirth-grey-60: 164, 169, 182;
    --rebirth-grey-70: 193, 196, 205;
    --rebirth-grey-80: 221, 223, 228;
    --rebirth-grey-90: 244, 244, 246;
    --rebirth-grey-100: 255, 255, 255;
}