.alert-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.alert-label img {
    margin-right: 10px;
}

.alert-label .title {
    font-weight: bold;
}

.alert-label .link {
    color: blue;
    cursor: pointer;
}

.alert-label .link:hover {
    text-decoration: underline;
}