@import url(../../Token/ebay1/colors.css);
@import url(../../Token/ebay1/typescale.css);

.storybook-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 1;
  border-radius: 2px;
}
.storybook-button--primary {
  color: var(--rebirth-on-button-primary);
  background-color: var(--rebirth-button-primary);
  border: none;
}
.storybook-button--grey {
  color: var(--rebirth-on-surface-weak);
  background-color: var(--rebirth-surface);
}
.storybook-button--xl {
  font-size: var(--rebirth-font-size-16);
  padding: 8px 24px;
  height: 56px;
}
.storybook-button--lg {
  font-size: var(--rebirth-font-size-16);
  padding: 8px 24px;
  height: 48px;
}
.storybook-button--md {
  font-size: var(--rebirth-font-size-14);
  padding: 14px 24px;
  height: 40px;
}
.storybook-button--sm {
  font-size: var(--rebirth-font-size-14);
  padding: 14px 24px;
  height: 32px;
}
