.link-rebirth {
    /* Styles par défaut */
    color: #316fca;
    font-size: 14px;
    line-height: 150%;
    font-family: Paysage, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    text-decoration: underline;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.link-rebirth.primary {
    /* Styles pour la couleur primaire */
}

.link-rebirth.white {
    /* Styles pour la couleur blanche */
}

.link-rebirth.md {
    /* Styles pour la taille moyenne */
}

.link-rebirth.sm {
    /* Styles pour la petite taille */
}

.link-rebirth.focus {
    /* Styles pour l'état de focus */
}

.link-rebirth.hover {
    /* Styles pour l'état de survol */
}

.link-rebirth .icon-left {
    /* Styles pour l'icône à gauche */
}

.link-rebirth .icon-right {
    /* Styles pour l'icône à droite */
}

.Image {
    filter: invert(37%) sepia(43%) saturate(1712%) hue-rotate(189deg) brightness(93%) contrast(86%);
}