.RatingsRebirth {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.RatingsRebirth__star--filled {
    background-position: 0 -16px;
}

.RatingsRebirth__link {
    display: inline-block;
    margin-left: 8px;
    color: var(--rebirth-on-surface);
    font-size: 16px;
}

.rating-star-container {
    position: relative;
    width: 24px;
    height: 24px;
}

.star {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: invert(62%) sepia(8%) saturate(594%) hue-rotate(186deg) brightness(91%) contrast(87%);
    opacity: 0.25;
}


.star1-half,
.star2-half,
.star3-half,
.star4-half,
.star5-half {
    z-index: 1;
    opacity: 0;
    filter: invert(63%) sepia(99%) saturate(427%) hue-rotate(356deg) brightness(107%) contrast(100%);
}

.RatingsRebirth--rating-0-5 .star1-half {
    opacity: unset;
    filter: invert(63%) sepia(99%) saturate(427%) hue-rotate(356deg) brightness(107%) contrast(100%);
}

.RatingsRebirth--rating-1 .star1 {
    opacity: unset;
    filter: invert(63%) sepia(99%) saturate(427%) hue-rotate(356deg) brightness(107%) contrast(100%);
}

.RatingsRebirth--rating-1-5 .star2-half,
.RatingsRebirth--rating-1-5 .star1 {
    opacity: unset;
    filter: invert(63%) sepia(99%) saturate(427%) hue-rotate(356deg) brightness(107%) contrast(100%);
}

.RatingsRebirth--rating-2 .star1,
.RatingsRebirth--rating-2 .star2 {
    opacity: unset;
    filter: invert(63%) sepia(99%) saturate(427%) hue-rotate(356deg) brightness(107%) contrast(100%);
}

.RatingsRebirth--rating-2-5 .star3-half,
.RatingsRebirth--rating-2-5 .star1,
.RatingsRebirth--rating-2-5 .star2 {
    opacity: unset;
    filter: invert(63%) sepia(99%) saturate(427%) hue-rotate(356deg) brightness(107%) contrast(100%);
}

.RatingsRebirth--rating-3 .star1,
.RatingsRebirth--rating-3 .star2,
.RatingsRebirth--rating-3 .star3 {
    opacity: unset;
    filter: invert(63%) sepia(99%) saturate(427%) hue-rotate(356deg) brightness(107%) contrast(100%);
}

.RatingsRebirth--rating-3-5 .star4-half,
.RatingsRebirth--rating-3-5 .star1,
.RatingsRebirth--rating-3-5 .star2,
.RatingsRebirth--rating-3-5 .star3 {
    opacity: unset;
    filter: invert(63%) sepia(99%) saturate(427%) hue-rotate(356deg) brightness(107%) contrast(100%);
}

.RatingsRebirth--rating-4 .star1,
.RatingsRebirth--rating-4 .star2,
.RatingsRebirth--rating-4 .star3,
.RatingsRebirth--rating-4 .star4 {
    opacity: unset;
    filter: invert(63%) sepia(99%) saturate(427%) hue-rotate(356deg) brightness(107%) contrast(100%);
}

.RatingsRebirth--rating-4-5 .star5-half,
.RatingsRebirth--rating-4-5 .star1,
.RatingsRebirth--rating-4-5 .star2,
.RatingsRebirth--rating-4-5 .star3,
.RatingsRebirth--rating-4-5 .star4 {
    opacity: unset;
    filter: invert(63%) sepia(99%) saturate(427%) hue-rotate(356deg) brightness(107%) contrast(100%);
}

.RatingsRebirth--rating-5 .star1,
.RatingsRebirth--rating-5 .star2,
.RatingsRebirth--rating-5 .star3,
.RatingsRebirth--rating-5 .star4,
.RatingsRebirth--rating-5 .star5 {
    opacity: unset;
    filter: invert(63%) sepia(99%) saturate(427%) hue-rotate(356deg) brightness(107%) contrast(100%);
}

.RatingsRebirth--size-sm .rating-star-container{
    width: 16px;
    height: 16px;
}

.RatingsRebirth--size-sm .RatingsRebirth__link {
    font-size: 14px;
}