:root {
    --rebirth-info-10: rgb(10, 22, 40);
    --rebirth-info-20: rgb(20, 44, 81);
    --rebirth-info-30: rgb(29, 67, 121);
    --rebirth-info-40: rgb(39, 89, 162);
    --rebirth-info-50: rgb(49, 111, 202);
    --rebirth-info-60: rgb(90, 140, 213);
    --rebirth-info-70: rgb(131, 169, 223);
    --rebirth-info-80: rgb(173, 197, 234);
    --rebirth-info-90: rgb(214, 226, 244);
    --rebirth-info-95: rgb(235, 241, 250);

    --rebirth-success-10: rgb(13, 27, 14);
    --rebirth-success-20: rgb(26, 53, 27);
    --rebirth-success-30: rgb(40, 80, 41);
    --rebirth-success-40: rgb(53, 106, 54);
    --rebirth-success-50: rgb(66, 133, 68);
    --rebirth-success-60: rgb(104, 157, 105);
    --rebirth-success-70: rgb(142, 182, 143);
    --rebirth-success-80: rgb(179, 206, 180);
    --rebirth-success-90: rgb(217, 231, 218);
    --rebirth-success-95: rgb(236, 243, 236);

    --rebirth-warning-10: rgb(78, 52, 6);
    --rebirth-warning-20: rgb(156, 105, 13);
    --rebirth-warning-30: rgb(234, 157, 19);
    --rebirth-warning-40: rgb(250, 184, 21);
    --rebirth-warning-50: rgb(253, 201, 62);
    --rebirth-warning-60: rgb(255, 217, 102);
    --rebirth-warning-70: rgb(255, 227, 140);
    --rebirth-warning-80: rgb(255, 236, 179);
    --rebirth-warning-90: rgb(255, 246, 217);
    --rebirth-warning-95: rgb(255, 250, 236);

    --rebirth-danger-10: rgb(36, 11, 9);
    --rebirth-danger-20: rgb(71, 23, 17);
    --rebirth-danger-30: rgb(107, 34, 26);
    --rebirth-danger-40: rgb(142, 46, 34);
    --rebirth-danger-50: rgb(178, 57, 43);
    --rebirth-danger-60: rgb(193, 97, 85);
    --rebirth-danger-70: rgb(209, 136, 128);
    --rebirth-danger-80: rgb(224, 176, 170);
    --rebirth-danger-90: rgb(240, 215, 213);
    --rebirth-danger-95: rgb(247, 235, 234);

    --grey-100: rgb(231, 231, 231);
}